@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
body {

}

/* Блок Header */
.header-wrapper {
    display: flex;
    flex-direction: column;
}
.my_project-name {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Poppins', serif;
}
.nav-block {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 10px 0;
}
.nav-links {
    margin: 0 20px;
    font-family: "OpenSans Regular", sans-serif;
}
.link {
    color: green;
    text-decoration: none;
}
.link:hover {
    color: red;
    transition: 0.5s;
}

.info-text {
    padding: 0 10px;
    font-family: 'Poppins', serif;
} 
@media screen and (max-width: 1024px){
.nav-block {
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    gap: 5px;
    font-size: 26px;
}    

.header-wrapper {
align-items: flex-start;
}

.my_project-name {
    text-align: start;
    margin: 0 20px;
}
}
@media screen and (max-width: 600px) {
    .nav-block {
        font-size: 30px;
    }
}
/* Блок Body */

.main_block-title {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main_block-description {
    display: flex;
    flex-direction: column;
    width: 1000px;
}
.about_me-text {
    font-size: 20px;
    margin: 30px 0;
}
.title-name {
    color: rgb(255, 86, 19);
    font-family: 'Poppins', serif;
}
.image-item {
    text-align: center;
    background-color: rgb(229, 255, 187);
    width: 100%;
    padding: 30px 0;
}
.img {
    border: 1px solid black;
}

.wrapper-title {
    display: flex;
}
@media screen and (max-width: 1024px){
.title-name {
    align-self: flex-start;
        margin: 0 20px;
}
}
@media screen and (max-width: 600px) {
    .wrapper-title {
        font-size: 30px;
    }
    .about_me-text {
        font-size: 36px;
        margin: 0;
    }
    .image-item {
        text-align: start;
    }
    .img {
        margin: 0 20px;
    }
}
/* Блок footer */
.footer {
    background-color: rgb(214, 255, 255);
    list-style-type: none;
    width: 100%;
}
.footer_info {
    display: flex;
    justify-content: space-around;
}
.contacts {
    margin: 0 30px;
    padding: 10px;
}
.contacts-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contact-item {
    display: flex;
    justify-content: center;
    margin-left: 20px;
}
.contact-svg {
    margin-right: 10px;
}
.phone {
    text-decoration: none;
    color: crimson;
}
.email {
    text-decoration: none;
    color: crimson;
}
@media screen and (max-width: 600px) {
    .footer_info {
        font-size: 30px;
    }
    body {
        position: absolute;
        margin-left: auto;
        margin-right: auto;

    }
}